<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>admin</title>
    <link rel="stylesheet" type="text/css" href="include/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="include/jquery/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="include/semantic/semantic.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
<body>
    <div class="join_header ui secondary menu">
        <a class="logo" href="#">LOGO</a>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search..."> <i class="search link icon"></i>
                </div>
            </div>
            <div class="ui item combo top right pointing dropdown join_more">
                更多 <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="http://www.baidu.com">
                        <i class="home icon"></i>
                        返回主页
                    </a>
                    <a class="item" href="http://www.baidu.com">
                        <i class="sign out icon"></i>
                        登出
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--header end-->

    <div class="join_container">
        <div class="join_left">
            <ul class="ui vertical menu">
                <li class="join_nav">MAIN NAVIGATION</li>
                <li class="join_item item">
                    <a href="#" class="join_father">
                        <i class="dropdown icon float_right"></i>
                        <i class="cubes icon"></i>
                        商品管理
                    </a>
                    <ul class="son menu">
                        <li class="item">
                            <a href="/goods/goods">
                                商品管理
                                <i class="radio icon float_left"></i>
                            </a>
                        </li>
                        <li class="item">
                            <a href="/goods/classify">
                                商品分类管理
                                <i class="radio icon float_left"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--left toolbar end-->
        <div class="join_right">
            <h4 class="ui top attached header">Header</h4>
            <div class="ui buttom attached segment">Panel content</div>
        </div>
    </div>
</body>
</html>