<?php extend('extend/extend'); ?>
<?php start(); ?>
<!--内容-->
<div class="ui text menu" style="padding:0 8px;margin-bottom: 0;">
    <span class="header item">文章总数：<?php echo $count;?> 个</span>
    <a class="item right" href="/article/add" style="background: #F1C40F;padding: 10px;border-radius: 5px;">添加文章</a>
</div>
<table class="ui unstackable selectable single striped line table" style="margin-top:0;">
    <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>是否隐藏</th>
            <th>创建时间</th>
            <th>简介</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($pageData as $val) { ?>
        <tr>
            <td class="collapsing"><?php echo $val['id']; ?></td>
            <td><?php echo $val['title']; ?></td>
            <td>否</td>
            <td>20151201</td>
            <td>这里是一些简洁的简介内容。</td>
            <td>
                <a class="edit" href="/article/edit?id=<?php echo $val['id']; ?>">修改</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a class="delete" href="/article/doDelete?id=<?php echo $val['id']; ?>">删除</a>
            </td>
        </tr>
        <?php } ?>
    </tbody>
</table>
<?php stop(); ?>