<?php extend('extend/extend'); ?>
<?php start(); ?>
<!--内容-->
<div class="ui text menu" style="padding:0 8px;margin-bottom: 0;">
    <span class="header item">文章总数：<?=$count?> 个</span>
    <a class="item right" href="/article/add" style="background: #F1C40F;padding: 10px;border-radius: 5px;">添加文章</a>
</div>
<table class="ui unstackable selectable single striped line table" style="margin-top:0;">
    <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>所属栏目</th>
            <th>是否显示</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($pageData as $val) { ?>
        <tr>
            <td class="collapsing"><?=$val['id']?></td>
            <td><?=$val['title']?></td>
            <td><?=$val['column_id']?></td>
            <td><?=$val['is_show']?></td>
            <td><?=$val['create_time']?></td>
            <td>
                <a class="edit" href="/article/edit?id=<?=$val['id']?>">修改</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a class="delete" href="/article/doDelete?id=<?=$val['id']?>">删除</a>
            </td>
        </tr>
        <?php } ?>
    </tbody>
</table>
<script type="text/javascript">
    $('.sub_nav a:eq(1)').addClass('active');
</script>
<?php stop(); ?>