<?php extend('extend/extend'); ?>
<?php start(); ?>
<!--内容-->
<div class="ui segment">
    <form class="ui form" action="/admin/doAdd" method="post">
        <div class="field">
            <label>管理员昵称</label>
            <input type="text" name="name" placeholder="管理员昵称" value=""></div>
        <div class="field">
            <label>管理员账号</label>
            <input type="text" name="username" placeholder="管理员账号" value=""></div>
        <div class="field">
            <label>管理员密码</label>
            <input type="password" name="password" placeholder="管理员密码" value=""></div>
        <div class="field">
            <label>管理员简介</label>
            <textarea name="description" placeholder="管理员简介"></textarea>
        </div>
        <div class="field" style="text-align: center;">
            <button class="ui blue submit button">保存</button>
            <a class="ui button go_back" href="#">放弃</a>
        </div>
    </form>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('.go_back').click(function(){
        history.back();
    });
});
</script>
<?php stop(); ?>