<?php extend('extend/extend'); ?>
<?php start(); ?>
<!--内容-->
<h3 class="ui top attached header">添加管理员</h3>
<form class="ui form buttom attached segment" action="/admin/doEdit?id=<?php echo $id; ?>" method="post">
    <div class="field">
        <label>管理员昵称</label>
        <input type="text" name="name" placeholder="管理员昵称" value="<?php echo $name; ?>"></div>
    <div class="field">
        <label>管理员账号</label>
        <input type="text" name="username" placeholder="管理员账号" value="<?php echo $username; ?>"></div>
    <div class="field">
        <label>管理员密码</label>
        <input type="password" name="password" placeholder="管理员密码" value="<?php echo $password; ?>"></div>
    <div class="field">
        <label>管理员简介</label>
        <textarea name="description" placeholder="管理员简介"><?php echo $description;?></textarea>
    </div>
    <div class="field" style="text-align: center;">
        <button class="ui blue submit button">保存</button>
        <a class="ui button go_back" href="#">放弃</a>
    </div>
</form>
<script type="text/javascript">
$(document).ready(function(){
    $('.go_back').click(function(){
        history.back();
    });
});
</script>
<?php stop(); ?>