<?php extend('extend/extend'); ?>
<?php start(); ?>
<!--内容-->
<div class="ui text menu" style="padding:0 8px;margin-bottom: 0;">
    <span class="header item">文件总数：<?=$count?> 个</span>
    <a class="item right" href="/file/index.html" style="background: #F1C40F;padding: 10px;border-radius: 5px;">返回根目录</a>
</div>

<table class="ui unstackable selectable single striped line table" style="margin-top:0;">
    <thead>
        <tr>
            <th class="collapsing">序号</th>
            <th>名称</th>
            <th>大小</th>
            <th>创建时间</th>
            <th>修改时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <?php
            $i = 0;
            foreach ($pageData as $type) { 
                foreach ($type as $file) {
                    $i++;
        ?>
        <tr>
            <td class="collapsing"><?=$i?></td>
            <td>
                <a href="<?=$file['action']?>?path=<?=$realPath.'/'.$file['item']?>">
                    <?=$file['item']?>
                </a>
            </td>
            <td><?=$file['size']?></td>
            <td><?=$file['create_time']?></td>
            <td><?=$file['update_time']?></td>
            <td>
                <a class="edit" href="/column/edit?id=">修改</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a class="delete" href="/column/doDelete?id=">删除</a>
            </td>
        </tr>
        <?php
                }
            }
            if (empty($pageData)) {
        ?>
        <tr>
            <td colspan="6" style="text-align: center;">该目录下没有文件</td>
        </tr>
        <?php
            }
        ?>
    </tbody>
</table>
<?php stop(); ?>