<?php extend('extend/extend'); ?>
<?php start(); ?>
<!--内容-->
<div class="ui text menu" style="padding:0 8px;margin-bottom: 0;">
    <span class="header item">模板总数：<?=$count?> 个</span>
</div>
<div class="ui five column grid">
    <div class="column">
        <div class="ui fluid card">
            <div class="image">
                <i class="massive plus icon"></i>
            </div>
            <div class="content">
                <a class="header"><?=$template['name']?></a>
            </div>
        </div>
    </div>
    <?php foreach ($templates as $template): ?>
    <div class="column">
        <div class="ui fluid card">
            <div class="image">
                <img src="<?=$template['img_src']?>">
            <?php if ($template['is_use']): ?>
                <div class="ui red bottom right attached label">已启用</div>
            <?php endif ?>
            </div>
            <div class="content">
                <a class="header" href="/template/choose?name=<?=$template['name']?>"><?=$template['name']?></a>
            </div>
        </div>
    </div>
    <?php endforeach ?>
</div>
<?php stop(); ?>