<?php extend('extend/extend'); ?>
<?php start(); ?>
<!--内容-->
<h3 class="ui top attached header">
    <i class="archive icon" style="font-size: 1.28em;margin-top: -3px;"></i> 模板管理
</h3>
<div class="ui attached segment">
<div class="ui five column doubling cards" style="margin-right: -7px;margin-left: -7px;">
    <?php foreach ($templates as $template): ?>
        <div class="ui link card <?=$template['is_use'] ? '' : 'template' ?> ">
            <div class="image">
                <img src="<?=$template['img_src']?>">
            <?php if ($template['is_use']): ?>
                <div class="ui red bottom right attached label">已启用</div>
            <?php endif ?>
            </div>
            <div class="content">
                <span class="header terse center" href="/template/choose?name=<?=$template['name']?>"><?=$template['nickname']?></span>
            </div>
        </div>
    <?php endforeach ?>
    <div class="ui link card" style="border: 1px dashed #D4D4D5; box-shadow: 0px 0px 0px; color: #AAAAAA;">
        <i class="massive plus outline icon" style="margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0;"></i>
    </div>
</div>
</div>
<form class="ui small modal form">
    <div class="header">添加模板</div>
    <div class="content">

    </div>
    <div class="actions terse center">
        <button class="ui blue button">
            <i class="save icon"></i>
            确认
        </button>
        <div class="ui negative button">
            <i class="close icon"></i>
            关闭
        </div>
    </div>
</form>
<script type="text/javascript">
<?php if (!($count%2)): ?>
    //监听窗口变化，设置最后一个card的高度
    $(window).resize(function () {
        $('.ui.link.card').last().css('height','0');
        $('.ui.link.card').last().css('height',$('.ui.link.card').eq(0).css('height'));
    });
<?php endif ?>

    //添加模板
    $('.ui.link.card').last().click(function(){
        $('.small.modal').modal({
            closable: false
        }).modal('show');
    });

    $('.template').click(function(){
        var href = $(this).children('.content').children('span').attr('href');
        window.open(href,'_self');
    });
</script>
<?php stop(); ?>