<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>admin</title>
    <link rel="stylesheet" type="text/css" href="/public/include/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <script type="text/javascript" src="/public/include/jquery/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/public/include/semantic/semantic.min.js"></script>
    <script type="text/javascript" src="/public/js/main.js"></script>
<body>
    <div class="mf_left">
        <div class="left_top">
            <img class="ui medium circular image" src="/public/img/jenny.jpg">
        </div>
        <div class="left_bottom">
            <ul>
                <li>
                    <a href="#" class="click"> <i class="heartbeat icon"></i>
                        核心
                    </a>
                </li>
                <li>
                    <a href="#"> <i class="setting icon"></i>
                        系统设置
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--left toolbar end-->
    <div class="mf_right">
        <div class="ui text menu right_top" style="">
            <span class="header item"><?php echo date('Y-m-d'); ?> 星期<?php $weekArray = ['日', '一', '二', '三', '四', '五', '六']; echo $weekArray[date('w')]; ?> <?php echo date('H:i'); ?></span>
            <div class="right menu">
                <a class="item" href="/">
                    <i class="dashboard icon"></i>
                    系统主页
                </a>
                <a class="item" href="#">
                    <i class="user icon"></i>
                    登出
                </a>
            </div>
        </div>
        <div class="right_bottom">
            <!--二级标题-->
            <div class="ui buttons" style="width: 100%;">
                <a href="#" class="ui button active">栏目管理</a>
                <a href="#" class="ui button">文章管理</a>
                <a href="#" class="ui button">回收站</a>
            </div>

            <!--内容-->
            <h3 class="ui top attached header">添加栏目</h3>
            <form class="ui form buttom attached segment" action="/column/doEdit?id=<?php echo $id; ?>" method="post">
                <div class="field">
                    <label>栏目名称</label>
                    <input type="text" name="column" placeholder="栏目名称" value="<?php echo $column; ?>"></div>
                <div class="field">
                    <label>栏目描述</label>
                    <textarea name="description" placeholder="栏目描述"><?php echo $description;?></textarea>
                </div>
                <div class="field" style="text-align: center;">
                    <button class="ui blue submit button">保存</button>
                    <a class="ui button go_back" href="#">放弃</a>
                </div>
            </form>
        </div>
    </div>
<script type="text/javascript">
$(document).ready(function(){
    $('.go_back').click(function(){
        history.back();
    });
});
</script>
</body>
</html>