<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" type="text/css" href="/public/include/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <script type="text/javascript" src="/public/include/jquery/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/public/include/semantic/semantic.min.js"></script>
    <script type="text/javascript" src="/public/js/main.js"></script>
</head>
<body style="overflow: hidden;">
    <div class="terse page left">
        <div class="logo">
            Terse
        </div>
        <ul class="terse nav">
            <li class="tip">MAIN NAVIGATION</li>
            <li>
                <a href="#">
                    <i class="dropdown icon terse right"></i>
                    <i class="file text outline icon"></i>
                    设置
                </a>
                <ul class="subnav">
                    <li>
                        <a href="/column/index">
                            栏目管理
                            <i class="radio icon terse left"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/article/index">
                            文档管理
                            <i class="radio icon terse left"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            设置三峡
                            <i class="radio icon terse left"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            设置私下
                            <i class="radio icon terse left"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="dropdown icon terse right"></i>
                    <i class="file text outline icon"></i>
                    设置
                </a>
                <ul class="subnav">
                    <li>
                        <a href="#">
                            test
                            <i class="radio icon terse left"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="dropdown icon terse right"></i>
                    <i class="file text outline icon"></i>
                    设置
                </a>
                <ul class="subnav">
                    <li></li>
                </ul>
            </li>
        </ul>
    </div>
        <!--left toolbar end-->
    <div class="terse page right">
        <div class="terse page top">
            <span class="terse left">
                <?=date('Y-m-d')?> 星期<?php $weekArray = array('日', '一', '二', '三', '四', '五', '六'); echo $weekArray[date('w')]; ?>
            </span>
            <span class="terse right">
                <a class="item" href="/auth/outLogin">
                    <i class="user icon"></i>
                    登出
                </a>
            </span>
        </div>
        <div class="terse page bottom">
            <?php export(); ?>
        </div>
    </div>
</body>
</html>