<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>admin</title>
    <link rel="stylesheet" type="text/css" href="/public/include/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <script type="text/javascript" src="/public/include/jquery/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/public/include/semantic/semantic.min.js"></script>
    <script type="text/javascript" src="/public/js/main.js"></script>
<body>
    <div class="mf_left">
        <div class="left_top">
            <img class="ui medium circular image" src="/public/img/jenny.jpg">
        </div>
        <div class="left_bottom">
            <ul>
                <li>
                    <a href="#" class="click"> <i class="heartbeat icon"></i>
                        核心
                    </a>
                </li>
                <li>
                    <a href="#"> <i class="setting icon"></i>
                        系统设置
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--left toolbar end-->
    <div class="mf_right">
        <div class="ui text menu right_top" style="">
            <span class="header item"><?php echo date('Y-m-d'); ?> 星期<?php $weekArray = array('日', '一', '二', '三', '四', '五', '六'); echo $weekArray[date('w')]; ?> <?php echo date('H:i'); ?></span>
            <div class="right menu">
                <a class="item" href="/">
                    <i class="dashboard icon"></i>
                    系统主页
                </a>
                <a class="item" href="/auth/outLogin">
                    <i class="user icon"></i>
                    登出
                </a>
            </div>
        </div>
        <div class="right_bottom">
            <!--二级标题-->
            <div class="ui buttons" style="width: 100%;">
                <a href="/column/index" class="ui button">栏目管理</a>
                <a href="/article/index" class="ui button active">文章管理</a>
                <a href="/admin/index" class="ui button">管理员管理</a>
                <a href="#" class="ui button">回收站</a>
            </div>
            <?php export(); ?>
    </div>
</div>
</body>
</html>